.logotipo {
  h1 {
    color: white;
    font-family: "Neon";
    font-size: 60px;
    position: relative;
    z-index: 0;
    width: 181px;
    i {
      color: #12b9a9; //Primeira cor
      //color: #059c9c;
      font-size: 80px;
      position: absolute;
      top: -4px;
      left: 34px;
      z-index: -1;
    }
  }
}

@font-face {
  font-family: "Neon";
  src: url("../../assets/Lollipoptron-7GPD.ttf");
}
